*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #000;
}
body{
  background-color: #eee;
  margin: 0;
}


